@use "sass:map";
@import "../../../styles/pages/_theme.scss";
.product-detail-container {
  min-height: 400px;
  max-width: 1200px;
  margin: 0 auto;
  .product-image-section {
    margin-top: 50px;
    flex: 0 0 40%;
    padding: 10px;
    .product-image {
      width: 250px;
      height: auto;
    }
  }
  .product-info-section {
    flex: 0 0 55%;
    padding: 10px 0 0 50px;
    .product-info-content {
      padding: 15px;
    }
  }
}

.product-detail-block {
  margin-top: 30px;
  .grp-price {
    .price {
      margin-top: 20px;
      font-size: 18px;
      color: map.get($theme-color, "main-color");
      font-weight: bold;
    }
    .price-old {
      font-size: 16px;
      color: map.get($theme-color, "text");
      margin: auto;
      text-decoration: line-through;
    }
    .price-new {
      display: flex;
      gap: 10px;
      justify-content: start;
      align-items: center;
      .price-discount {
        font-size: 18px;
        color: map.get($theme-color, "main-color");
        font-weight: bold;
      }
      .discount {
        padding: 0 4px;
        width: fit-content;
        font-size: 16px;
        color: map.get($theme-color, "main-color");
        border: 1px solid map.get($theme-color, "main-color");
        background-color: rgba(255, 210, 215, 0.384);
        border-radius: 10%;
      }
    }
  }
}

.table-info {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    width: 200px;
    font-weight: bold;
  }
  td {
    font-size: 16px;
  }
}
