@use "sass:map";
@import "../../../styles/pages/_theme.scss";

$gap: 10px;
$control-btn-size: 40px;

.product-slider {
  position: relative;

  background-color: #f9f9f9;
  padding: 1rem;
  .product-slider-top {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: start;
    align-items: center;
    background-color: map.get($theme-color, "main-color-light");
    display: flex;
    color: #fff;

    p {
      font-size: 1rem;
      color: #fff;
      padding: 0 0.5rem 0.3rem 0;
      border-radius: 8px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .product-slider-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 8px;
    }
  }

  .productSlide-wrapper {
    position: relative;
    overflow: hidden;

    .product-slider-container {
      display: flex;
      gap: 1rem;
      transition: transform 0.3s ease-in-out;
    }

    .slider-controls {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
      pointer-events: none;

      .slider-control {
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }

        &.prev {
          margin-left: 10px;
        }

        &.next {
          margin-right: 10px;
        }
      }
    }
  }

  .product-item {
    flex: 0 0 310px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }

    &-image img {
      width: 100%;
      height: 150px;
      object-fit: contain;
    }

    &-details {
      padding: 0.5rem;
      text-align: center;

      h3 {
        font-size: 1rem;
        margin: 0.5rem 0;
      }

      .price {
        font-size: 1rem;
        color: #ff4500;
      }
    }
  }
  .product-item-cart {
    opacity: 1;
    height: 5rem;
    display: flex;
    justify-items: center;
    padding: 1.4rem;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #059b32;
      color: white;
      border: 1px solid #057e29;
      border-radius: 2px;
      cursor: pointer;
      width: 60%;
      font-size: 16px;
      text-align: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: #036d23;
        color: #fff;
      }

      span {
        white-space: nowrap;
        text-align: center;
        font-weight: 500;
        text-decoration: unset;
        font-size: 16px;
        line-height: 20px;
      }

      svg {
        font-size: 20px;
        position: absolute;
        top: 9px;
        left: 30px;
      }
    }
  }
  .grp-price {
    .price {
      margin-top: 20px;
      font-size: 18px;
      color: map.get($theme-color, "main-color");
      font-weight: bold;
    }
    .price-old {
      font-size: 16px;
      color: map.get($theme-color, "text");
      margin: auto;
      text-decoration: line-through;
    }
    .price-new {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      .price-discount {
        font-size: 18px;
        color: map.get($theme-color, "main-color");
        font-weight: bold;
      }
      .discount {
        padding: 0 4px;
        width: fit-content;
        font-size: 16px;
        color: map.get($theme-color, "main-color");
        border: 1px solid map.get($theme-color, "main-color");
        background-color: rgba(255, 210, 215, 0.384);
        border-radius: 10%;
      }
    }
  }
}
