.box {

    .content-heading {}

    .box-info-account {
        .form-update {
            .form-line-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }
        }


    }

}